body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.grundriss {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

    .grundriss img {
        max-width: 100%;
        border-radius: 6px;
        cursor: pointer;
        transition: transform 0.2s;
    }

        .grundriss img:hover {
            transform: scale(1.02);
        }

a {
    font-weight: bold;
    text-decoration: none;
}
